/* Nord theme <https://www.nordtheme.com> */
:root {
  --bg1: #2e3440;
  --bg2: #3b4252;
  --bg3: #434c5e;
  --bg4: #4c566a;

  --fg1: #eceff4;
  --fg2: #e5e9f0;
  --fg3: #d8dee9;

  --emphasis: #88c0d0;
  --emphasis-dark: #5e81ac;

  --red: #bf616a;
  --green: #a3be8c;

  --fg-emphasis: var(--bg1);

  --monospaced: 'Jetbrains Mono', monospace;
}

* {
  color: var(--fg1);

  font-family: 'Lexend', sans-serif;
  font-optical-sizing: auto;

  &::-webkit-scrollbar {
    background-color: var(--bg2);
    width: .75rem;
    height: .75rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--emphasis);
  }
}

/* As it should be */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;

  background-color: var(--bg1);
}

/* Annoying af to work with */
h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

/* Custom class notations */
.link {
  &:active {
    color: var(--emphasis-dark);
  }
  color: var(--emphasis);
}

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}

.innerpage {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-sizing: border-box;
  gap: .5rem;
}

input:not([type="submit"]), .input {
  border: .125rem solid var(--emphasis);
  background-color: var(--bg2);
  color: var(--fg1);
  padding: .5rem;
  height: 3rem;
  font-size: .9rem;

  box-sizing: border-box;

  &:active, &:hover, &:focus {
    background-color: var(--bg3);
  }
}

.button, input[type="submit"], button {
  border: .125rem solid var(--emphasis);
  background-color: var(--bg2);
  color: var(--fg1);
  padding: .5rem;
  height: 3rem;
  font-size: .9rem;
  text-decoration: none;

  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;

  &:hover, &:focus {
    background-color: var(--emphasis);
    color: var(--fg-emphasis);
    
    &.red {
      background-color: var(--red);
    }
  }

  &:active {
    background-color: var(--emphasis-dark);
    border-color: var(--emphasis-dark);
    color: var(--fg-emphasis);

    &.red {
      background-color: var(--red);
    }
  }

  &.disabled {
    background-color: inherit;
    border-color: var(--emphasis-dark);
    color: var(--fg1);
    font-style: italic;
  }

  &.red {
    border-color: var(--red);
  }
}

.error {
  text-align: center;
  color: var(--red);
  font-style: italic;
}

.innerpage:has(.centered) {
  align-items: center;
}

.centered {
  display: flex;
  flex-direction: column;
  gap: .5rem;

  max-width: 100%;
  width: 500px;
  min-width: 300px;
  box-sizing: border-box;
}